@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: grey;

}

.secondBG{
    width: 850px;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 25px;

}

li{
    list-style-type: none;

}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}